body {
  font-family: Arial, Helvetica, sans-serif;
  display: grid; 
  place-items: start center; 
  padding: 16px;
 
}
figure {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px 0;
}

figcaption {
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 500;
  color: #333;
}
.profile-picture {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #0a2f35;
  margin-top: 8px;
}
.profile {
  margin-top: 0px;
  gap: 24px; 
 
}
.talk-about-yourself {
   text-align: justify;
  box-sizing: border-box;
  width: 90%;
}
.profile,
.hobbies-aspiration {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  align-items: center;

  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f4f6f9;
  color: #1c1c1c;
}
.hobbies-aspiration {
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  align-items: stretch;
}
.grid-cell {
  background-color: #e6f7f8;
  color: #0a2f35;
  border-radius: 15px;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
  text-align: justify;
}
h1,
h2 {
  text-align: center;
}
/** styling on mobile devices **/
@media (max-width: 768px) {
  .profile,
  .hobbies-aspiration {
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
  }
  .hobbies-aspiration {
    row-gap: 20px;
  }
}
